
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
    --breakpoint-1xl: 82.5rem;
    --color-body: #212529;
    --color-title: #051036;
    --color-gray: #737373;
    --color-gray-dark: #D9D9D9;
    --color-red: #A71E22;
    --color-blue: #3554D1;

    /* fonts */
    --font-jost: "Jost", sans-serif; 
    --font-raleway: "Raleway", sans-serif; 
    --font-roboto: "Roboto", sans-serif; 
    
}


@utility container {
    @apply mx-auto px-6;

    @media (width >=82.5rem) {
        max-width: var(--breakpoint-1xl);
    }
}

@layer base{
  h1, h2, h3, h4, h5 h6{
    @apply font-jost
  }
  h1{
    @apply text-[25px] md:text-4xl lg:text-[40px] leading-10 lg:leading-14.5 font-semibold
  }
  h2{
    @apply text-2xl md:text-[26px] lg:text-3xl md:leading-10 lg:leading-11 font-semibold
  }
  h3{
    @apply text-lg md:text-xl lg:text-[22px] lg:leading-8 font-medium
  }
  h4{
    @apply text-base lg:text-lg lg:leading-6.5 font-medium
  }
  h5{
    @apply text-base font-medium leading-6
  }
  body{
      @apply text-xs font-normal font-jost leading-3.5 text-body
    }
}
  
@layer components {
  /* closed state */
  .accordion-contents {
    @apply max-h-0 overflow-hidden opacity-0 transition-[max-height,opacity,transform] duration-500 ease-in-out translate-x-4;
  }

  /* open state */
  .accordion-contents.content {
    @apply opacity-100 translate-x-0 px-4;
  }
}

.transparent-header{
  @apply bg-white/39
  
}
.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.color-header {
    background-color: #fff;
    box-shadow: 4px 0px 8px 0px #a5a5a5;
}

.swiper{
  @apply pb-12
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  @apply bottom-0
}
.swiper-button-next, 
.swiper-button-prev {
    @apply w-4
}
.packages .swiper-button-next, 
.packages .swiper-button-prev{
    @apply -mt-17.5
}
.packages .swiper-button-next{
   @apply right-2!
}
.packages .swiper-button-prev{
   @apply left-2!
}
.swiper-button-next, 
.swiper-button-prev{
    @apply -mt-12!
}
.swiper-button-next{
  @apply right-4!
}
.swiper-button-prev{
  @apply left-4!
}

  .range-input {
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;
    background: none;
    pointer-events: none;
  }

  .range-input::-webkit-slider-thumb {
    appearance: none;
    height: 14px;
    width: 14px;
    background: #15803d;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
  }

  .range-input::-moz-range-thumb {
    height: 14px;
    width: 14px;
    background: #15803d;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
  }