@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




@theme {
    --breakpoint-1xl: 82.5rem;
    --color-body: #212529;
    --color-title: #051036;
    --color-gray: #737373;
    --color-gray-dark: #D9D9D9;
    --color-red: #A71E22;
    --color-blue: #3554D1;

    /* fonts */
    --font-jost: "Jost", sans-serif; 
    --font-raleway: "Raleway", sans-serif; 
    --font-roboto: "Roboto", sans-serif; 
    
}


@utility container {
    @apply mx-auto px-1.25 sm:px-6;

    @media (width >=82.5rem) {
        max-width: var(--breakpoint-1xl);
    }
}

h1, h2, h3, h4, h5 h6{
  @apply font-jost
}
h1{
  @apply text-[25px] md:text-4xl lg:text-[40px] lg:leading-[1.45] font-semibold
}
h2{
  @apply text-[26px] md:text-[28px] lg:text-3xl lg:leading-11 font-semibold
}
h3{
  @apply text-lg md:text-xl lg:text-[22px] lg:leading-8 font-medium
}
h4{
  @apply text-base lg:text-lg lg:leading-6.5 font-medium
}
h5{
  @apply text-base font-medium leading-6
}

body{
  @apply text-xs font-normal font-jost leading-3.5 text-body
}

.swiper{
  @apply pb-12
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  @apply bottom-0
}
.swiper-button-next, 
.swiper-button-prev {
    @apply w-4
}
.packages .swiper-button-next, 
.packages .swiper-button-prev{
    @apply -mt-17.5
}
.packages .swiper-button-next{
   @apply right-2!
}
.packages .swiper-button-prev{
   @apply left-2!
}
.swiper-button-next, 
.swiper-button-prev{
    @apply -mt-12!
}
.swiper-button-next{
  @apply right-4!
}
.swiper-button-prev{
  @apply left-4!
}